html, body {
  background: #FFF;
  color: #222;
  font-family: Helvetica, Arial, serif;
  min-width: 300px;
}

h1 {
  font-size: 16px;
}

img {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

p,a {
  color: #222;
  font-size: 12px;
}
